%h1.text-align-center
  Hello, Welcome to Task List
%h1.text-align-center.text-font-14.padding-top-20
  Please input date, title and description for create new task
= form_with scope: :turbolyapp, url: turbolyapps_path, local: true do |form|
  - if @error.present?
    - if @error == 'title' 
      #error_duplicate.text-color-red.text-font-14.text-align-center
        %h2
          %h1
            Please Input Title
    - elsif @error == 'text' 
      #error_duplicate.text-color-red.text-font-14.text-align-center
        %h2
          %h1
            Please Input Text
    - elsif @error == 'priority' 
      #error_duplicate.text-color-red.text-font-14.text-align-center
        %h2
          %h1
            Please Input Priority
    - else 
      #error_duplicate.text-color-red.text-font-14.text-align-center
        %h2
          %h1
            Please make sure your priority same like the example
  - elsif @turboly.present?
    -if @turboly.errors.any?
      #error_explanation
        %h2
          = pluralize(@turboly.errors.count, "error")
          prohibited
          this todo list from being saved:
        %ul
          - @turboly.errors.full_messages.each do |msg|
            %li= msg
    - else
      #error_duplicate
        %h2
          %h1
            Todo already exist
  .text-align-center.padding-top-20
    %p
      = form.label :date
      %br/
      = form.date_select :date, data:{ provide:'datepicker' }
    %p
      = form.label :title
      %br/
      = form.text_field :title
    %p
      = form.label :task
      %br/
      = form.text_area :text
    %p
      = form.label :priority
      (Urgent, Medium, Low)
      %br/
      = form.text_field :priority
    %p
      = form.submit
    =link_to 'Go to My Task List', turbolyapps_path