.text-align-center
  - if @turboly.present?
    %p
      %strong Date:
      = @turboly.date
    %p
      %strong Title:
      = @turboly.title
    %p
      %strong Task:
      = @turboly.text
    %p
      %strong Priority:
      = @turboly.priority
  - else
    You have no authorize to access this task
  = link_to 'Go To Task List', turbolyapps_path